<h1>Welcome!</h1>

<div style="font-size: 1.4em; margin-left: 80px; margin-bottom: 36px;"> 
    <p>
        And thank you for visiting my website, feel free to check out the other pages of my website using the navigation tabs at the top of the screen.
    </p>
    <p>
        Check out the Resumé tab to find more information about my professional and educational backgrounds and to download my Resumé.
    </p>
    <p>
        Check out the projects page for a list of the major projects I've been working on in my free time.
    </p>
    <p>
        If you are interested in a particular project, be sure to click the projects title to redirect to a working version of the project, if it's a hosted Web Application, or to the project's GitHub repository otherwise.
    </p>
    <p>
        Don't forget to reach out to me  with any inquiries using the Quick Links in the side bar.
    </p>
</div>

<h1>About Me</h1>

<div style="font-size: 1.4em; margin-left: 80px; margin-bottom: 36px;"> 
    <p>
        My name is Jayson Armbruster, and I am a Software Engineering professional living in Metro Detroit, Michigan. I graduated from Michigan State University's College of Engineering in 2018, with a degree in Applied Engineering Sciences, Specializing in Computer Science.
    </p>
    <p>
        I am currently employed by Jervis B. Webb Company in Novi, MI as a Software Engineer, mainly developing User Interface Software for the Airport Baggage and Materials Handling industries.
    </p>
    <p>
        In my free time I enjoy watching sports, especially the Detroit Tigers, Detroit Lions, and Michigan State Spartans in Football and Basketball, and spending time with my friends and family.  In addition, I also enjoy spending time developing any software projects I'm working on, and researching new technologies. 
    </p>
</div>