<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-xs-10">
        <img class='img-fluid' src='assets/headshot.jpg' alt='HeadShot'>
        <div style="margin-top: 20px;"> 
            <p>
                Jayson Armbruster is a Full Stack Software Engineer with a demonstrated history of developing vibrant Desktop and Web Applications for a variety of industries, including Finance and Materials Handling.
            </p>
            <p>
                He is skilled in JavaScript, Angular, C#, Python, SQL, C++, Data Structures, and Algorithms, and is always aspiring to further his working knowledge of software systems, development strategies, and new technologies. He completed a Bachelor’s Degree in Applied Engineering Sciences, specializing in Computer Science from Michigan State University.
            </p>
            <p>
                In his free time he enjoys watching sports, especially baseball and football. He also enjoys spending time working on software projects, as well as researching new technologies that he can integrate into both his professional and personal projects.
            </p>
        </div>
    </div>
</div>


