<div style='display: inline;'> 
    <h1 style='display: inline;'>Projects</h1>
    <p *ngIf='this.searchedProjectNumber != 0 && this.searchedProjectNumber != this.allProjects.length' class='text-danger' style='display: inline; padding-left: 2%;'>{{searchedProjectNumber}} results shown</p>
    <button class="btn btn-secondary my-2 my-sm-0 float-right" (click)="searchProjects()">Search</button>
    <div class="form-inline my-2 my-lg-0 float-right" style='display: inline;'>
        <input class="form-control mr-sm-2" id="projectSearchTermInput" type="text" placeholder="Search" (keyup)="onSearchKeyUp()">
    </div>
</div>
<div class='card border-primary' style='margin-top: 24px;' *ngFor='let projectElem of this.projects'>
    <div class='card-header'>
        <h3 style='margin-bottom: 0;'>
            <a href='{{projectElem.link}}' target="_blank" >{{projectElem.name}}</a>
            <span *ngFor='let badge of projectElem.techs' class='badge badge-info float-right' style="margin-left: 6px; vertical-align: middle">{{badge}}</span>
            <span *ngIf='projectElem.isHosted' class='badge badge-danger float-right' style="margin-left: 6px; vertical-align: middle"><a href='{{projectElem.link}}' target='_blank'>Hosted</a></span>
        </h3>
        
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-xs-12 col-lg-4'>
                <img class='rounded img-thumbnail' src='{{projectElem.imagePath}}' style="width: inherit; height: inherit">
            </div>
            <div class='col-xs-12 col-lg-8' style="vertical-align: center">
                <p class='card-text' style="font-size: 1.7em;">{{projectElem.description}}<a *ngIf="projectElem.closingLink != null" target='_blank' href="{{projectElem.closingLink.link}}">{{projectElem.closingLink.name}}</a></p>
            </div>
        </div>

    </div>
</div>
