
<div class="row justify-content-center">
    <div class="col-lg-10 col-md-10 col-xs-10">
        <div style="font-size: 1em;">
            <div style='text-align: center;'> 
                <h1>JAYSON <strong>ARMBRUSTER</strong></h1>
                <h5>9128 Dixie, Redford MI, 48239</h5>
                <h5>Jbru95.github.io</h5>
                <h5><a href="mailto:Jbru95@outlook.com">Jbru95@outlook.com</a></h5>
            </div>
                
            <h2>Experience</h2>
                <div class="ml-md-5">
                    <h3><strong>Software Engineer</strong> - Jervis B. Webb Company - <span class='small'>Novi, MI</span></h3>
                    <h4>July 2018 - Present</h4>
                    <ul class="ml-md-5">
                        <li>Developed, supported, and tested multiple large-scale Angular front-end base applications concurrently, providing rich user interfaces for multiple company systems</li>
                        <li>Fully Integrated front-end applications with C# backend/APIs, SQL Server database, and Internet Information Services(MS IIS)</li>
                        <li>Developed customizations for base applications depending on individual client need</li>
                        <li>Created and updated both usage and requirements documentation for developed applications</li>
                    </ul>
                </div> 

                <div class="ml-md-5">
                    <h3><strong>Software Development Intern</strong> - Dematic - <span class='small'>Grand Rapids, MI</span></h3>
                    <h4>May 2017 - August 2017</h4>
                    <ul class="ml-md-5">
                        <li>Personally designed a dynamic data architecture system to autonomously collect, store, analyze, and display scrum team developer performance, freeing up 25 work days per year</li>
                        <li>Performed regression testing/unified functional testing on pre-release patches of in-development software applications</li>
                        <li>Gained experience with AGILE methodology and scrum team operations, such as sprint planning, resource allocation, and scrum management</li>
                    </ul>
                </div> 

                <div class="ml-md-5">
                    <h3><strong>Strategic Support Associate</strong> - Jackson National Life - <span class='small'>East Lansing, MI</span></h3>
                    <h4>May 2015 - July 2018</h4>
                    <ul class="ml-md-5">
                        <li>Performed clerical duties such as data entry, creating spreadsheets, and initiating funds transfers with other insurance companies</li>
                        <li>Selected from a department of 100+ employees to review software application requests and push apps and updates to employee’s virtual desktops</li>
                        <li>Selected to work a special project developing correct formatting and placement of company intranet content</li>
                    </ul>
                </div> 

            <h2>Education</h2>
                <div class="ml-md-5">
                    <h3><strong>Michigan State University</strong> - College of Engineering  - <span class='small'>East Lansing, MI</span></h3>
                    <h4>Graduated May 2018</h4>
                    <ul class="ml-md-5">
                        <li>Bachelor of Science in Applied Engineering Sciences(AESC), Specializing in Computer Science</li>
                        <li>GPA: 3.5 (Dean's List)</li>
                    </ul>
                </div> 


            <h2>Skill Highlights</h2>
            <div class='row'>
                <div class='col-xs-12 col-md-6'>
                        <ul class="ml-md-5">
                            <li style='padding-bottom: 8px;'>JavaScript, JQuery, Grunt, JSON, AJAX</li>
                            <li style='padding-bottom: 8px;'>TypeScript, Angular 6, Node.js, Express.js</li>
                            <li style='padding-bottom: 8px;'>HTML 5, CSS, Less, SCSS, BootStrap 4</li>
                            <li style='padding-bottom: 8px;'>Relational Databases, MySQL, MS SQL Server, Stored Procedures</li>
                        </ul>
                </div> 
                <div class='col-xs-12 col-md-6'>
                        <ul class="ml-md-5">
                            <li style='padding-bottom: 8px;'>C#, .NET, XML, WPF, IIS</li>
                            <li style='padding-bottom: 8px;'>PHP, WebSockets, MVC</li>
                            <li style='padding-bottom: 8px;'>Python 3, C++, WIndows, Linux</li>
                            <li style='padding-bottom: 8px;'>Git, Atlassian JIRA, REST APIs</li>
                        </ul>
                </div>
            </div>    
            <h3>Download this document as a <a class='text-danger' href='/assets/Armbruster_Jayson_Resume.docx' download>Microsoft Word Document</a> or a <a href='/assets/Armbruster_Jayson_Resume.pdf'>PDF</a></h3>
        </div>
    </div>
</div>