
<div class="row justify-content-center">
    <div class="col-lg-10 col-md-10 col-xs-10">
        <div style="font-size: 1em;">
            <div style='text-align: center;'> 
                <h1>JAYSON ARMBRUSTER</h1>
                <h5>Grand Rapids, MI</h5>
                <h5>Jbru95.github.io</h5>
                <h5><a href="mailto:Jbru95@outlook.com">Jbru95@outlook.com</a></h5>
            </div>
                
            <h3>Experience</h3>

                <div class="ml-md-5">
                    <h4>Full Stack Software Engineer - Dominion Systems - <span class='small'>Grand Rapids, MI</span></h4>
                    <h5>June 2019 - June 2020</h5>
                    <ul class="ml-md-5">
                        <li>Developed, tested, and maintained a full stack client-facing full service Payroll and HR web application, utilizing C#.NET, Angular 8, and MSSQL databases.</li>
                        <li>Led cross-functional developer teams in projects updating outdated AngularJS and VB.NET code and architecture to the above current technology stack.</li>
                        <li>Completed JIRA Cases and Epics through their entire development life cycle, performing bug fixes and adding functionality to enhance applications.</li>
                        <li>Supported other company departments with custom code solutions, IT/Developer support, and software documentation.</li>
                    </ul>
                </div> 

                <div class="ml-md-5">
                    <h4>Software Engineer - Jervis B. Webb Company - <span class='small'>Novi, MI</span></h4>
                    <h5>July 2018 - June 2019</h5>
                    <ul class="ml-md-5">
                        <li>Developed, supported, and tested multiple Angular front-end base applications concurrently, providing rich user interfaces for multiple company systems</li>
                        <li>Fully Integrated front-end applications with C# backend/APIs, SQL Server database, and Internet Information Services(MS IIS)</li>
                        <li>Developed customizations for base applications depending on individual client need</li>
                        <li>Created and updated both usage and requirements documentation for developed applications</li>
                    </ul>
                </div> 

                <div class="ml-md-5">
                    <h4>Computer Science Tutor - Self-Employed</h4>
                    <h5>May 2018 - Present</h5>
                    <ul class="ml-md-5">
                        <li>Privately tutored individuals ranging from high school level to professional level in a wide range of computer science subjects including: Javascript, Angular 4+, RxJS, React, Python, Data Structures and Algorithms, Full Stack Web Application Architecture and general Web Development.</li>
                    </ul>
                </div> 

                <div class="ml-md-5">
                    <h4>Software Development Intern - Dematic - <span class='small'>Grand Rapids, MI</span></h4>
                    <h5>May 2017 - August 2017</h5>
                    <ul class="ml-md-5">
                        <li>Personally designed a dynamic data architecture system to autonomously collect, store, analyze, and display scrum team developer performance, freeing up 25 work days per year</li>
                        <li>Performed regression testing/unified functional testing on pre-release patches of in-development software applications</li>
                        <li>Gained experience with AGILE methodology and scrum team operations, such as sprint planning, resource allocation, and scrum management</li>
                    </ul>
                </div> 

            <h3>Education</h3>
                <div class="ml-md-5">
                    <h4>Michigan State University - College of Engineering  - <span class='small'>East Lansing, MI</span></h4>
                    <h5>Graduated May 2018</h5>
                    <ul class="ml-md-5">
                        <li>Bachelor of Science in Applied Engineering Sciences(AESC), Specializing in Computer Science</li>
                        <li>GPA: 3.5 (Dean's List)</li>
                    </ul>
                </div> 


            <h2>Skill Highlights</h2>
            <div class='row'>
                <div class='col-xs-12 col-md-6'>
                        <ul class="ml-md-5">
                            <li style='padding-bottom: 8px;'>JavaScript, JQuery, JSON, AJAX</li>
                            <li style='padding-bottom: 8px;'>TypeScript, Angular 6, React, RxJS</li>
                            <li style='padding-bottom: 8px;'>HTML 5, CSS, SCSS, BootStrap 4</li>
                            <li style='padding-bottom: 8px;'>MySQL, MS SQL Server, Sprocs, Entity Framework</li>
                        </ul>
                </div> 
                <div class='col-xs-12 col-md-6'>
                        <ul class="ml-md-5">
                            <li style='padding-bottom: 8px;'>C#.NET, XML, WPF, MVC, Azure</li>
                            <li style='padding-bottom: 8px;'>Node.JS, Express.JS, Sockets, REST APIs</li>
                            <li style='padding-bottom: 8px;'>Python 3, C++, Windows, Linux</li>
                            <li style='padding-bottom: 8px;'>Git, JIRA, AGILE, Scrum, TeamCity</li>
                        </ul>
                </div>
            </div>    
            <h3>Download this document as a <a class='text-secondary' href='/assets/Armbruster_Jayson_Resume.docx' download>DOCX</a> or a <a class="text-secondary" href='/assets/Armbruster_Jayson_Resume.pdf'>PDF</a></h3>
        </div>
    </div>
</div>