<div class='card mb-3 border-primary sticky-top'>
    <!-- <div class='card-body'>
        <h5 class='card-title'>Jayson Armbruster</h5>
    </div> -->
    <div class='card-body text-center'>
        <img class='rounded img-thumbnail img-fluid' src='assets/headshot.jpg' alt='HeadShot'>
    </div>

        <!-- <li class='list-group-item'>
            <img class='img-fluid' style="height: 1.4em; width: 1.4em; margin-right: 12px;" src='assets/linkedIn_logo.png' alt='linkedIn logo'>
            <a href='https://www.linkedin.com/in/jayson-armbruster-288945117' target="_blank">Jayson Armbruster</a>
        </li>
        <li class='list-group-item'>
            <img class='img-fluid' style="height: 1.4em; width: 1.4em; margin-right: 12px;" src='assets/outlook_logo.png' alt='outlook logo'>
            <a href='mailto:Jbru95@outlook.com'>Jbru95@outlook.com</a>
        </li> -->
</div>