<div class='card mb-3'>
    <h3 class='card-header'>Information</h3>
    <div class='card-body'>
        <h5 class='card-title'>Special Title</h5>
    </div>
    <div style="align-content: center;">
        <img style='height: 350px; width: 100%; display: block; padding: 0% 10% 5% 10%;' src='assets/headshot.jpg' alt='HeadShot'>
    </div>
    <div class='card-body'>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class='list-group list-group-flush'>
        <li class='list-group-item'>link 1</li>
        <li class='list-group-item'>link 2</li>
        <li class='list-group-item'>link 3</li>
    </ul>
</div>