<div class='card mb-3 border-info'>
    <h3 class='card-header border-info'>Quick Info</h3>
    <!-- <div class='card-body'>
        <h5 class='card-title'>Jayson Armbruster</h5>
    </div> -->
    <div class='card-body text-center' style="padding-top: 2%; padding-bottom: 2%;">
        <img class='rounded img-thumbnail img-fluid' src='assets/headshot.jpg' alt='HeadShot'>
    </div>
    <div class='card-body'>
        <p class="card-text" style="font-size: 1.7em;">My name is Jayson Armbruster and I am a Software Engineering Professional and alumni of the Michigan State University College of Engineering</p>
    </div>
    <ul class='list-group list-group-flush'>
        <li class='list-group-item'><a style="font-size: 1.7em;" href='https://www.linkedin.com/in/jayson-armbruster-288945117' target="_blank">LinkedIn</a></li>
        <li class='list-group-item'><a style="font-size: 1.7em;" href='https://github.com/Jbru95'>Github</a></li>
        <li class='list-group-item'><a style="font-size: 1.7em;" ></a></li>
    </ul>
</div>