/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './app/bootstrap.min.css';
 
.my-container{
    margin-right: 10%;
    margin-left: 10%;
 }

 .col {
   padding-left: 2%;
   padding-right: 2%;
}