.col {
    padding-left: 2%;
    padding-right: 2%;
}
/* 
.navbar {
    background-color: skyblue;
    font-size: 25px;
    padding: 15px 15px 35px px;

}

.navbar li {
    float: left;
    padding-right: 60px;
}

.navbar ul {
    list-style: none;
} */