<navbar></navbar>
<div class='my-container'>
    <div class='row'>
        <div *ngIf="this.router.url == '/'" class="col-lg-3 col-md-4 col-xs-12 col-sm-12">
            <sidebar-info></sidebar-info>
        </div>

        <div *ngIf="this.router.url != '/'" class="col-lg-3 d-none d-lg-block" >
            <sidebar-info></sidebar-info>
        </div>

        <div *ngIf="this.router.rul == '/'" class='col-lg-9 col-md-8 col-xs-12 col-sm-12 '>
            <router-outlet></router-outlet>
        </div>

        <div *ngIf="this.router.rul != '/'" class='col-lg-9 col-md-12 col-xs-12 col-sm-12 '>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

